<div class="main position-relative m-2">
    <span><i class="fa fa-bars position-absolute p-sm-2 fa-2x"></i></span>
    <h1 class="heading px-5">Haul</h1>
    <div class="form-group position-relative my-2">
        <span><i class="fa-solid fa-location-dot fa-lg position-absolute p-sm-3"></i></span>
        <button class="form-control bg-white text-black text-uppercase px-5"> Add an address to see delivery times</button>
    </div>
    <div class="form-group position-relative my-2" style="display: flex;">
        <span><i class="fa fa-search fa-lg position-absolute p-sm-3"></i></span>
        <input id="search" class="form-control input-styling px-5" type="text" placeholder="Search.." name="search">
        <button id="search" class="btn btn-outline-secondary bg-white text-black" type="search">Search</button>
    </div>
    <div class="form-group position-relative my-2">
        <span><i class="fa-solid fa-cart-shopping fa-lg position-absolute p-sm-3"></i></span>
        <button class="btn btn-outline-secondary text-uppercase px-5 mx-1">Basket - 3</button>
        <button class="btn btn-outline-secondary mx-2">SIGN UP</button>
        <button class="btn btn-outline-secondary bg-black text-white">SIGN IN</button>
    </div>
</div>
