<div class="main position-relative m-2">
    <span><i class="fa fa-bars position-absolute py-4 fa-xl"></i></span>
    <h1 class="heading px-4">Haul</h1>
    <div class="form-group position-relative my-2">
        <span><i class="fa-solid fa-location-dot fa-lg position-absolute p-sm-3"></i></span>
        <button class="form-control bg-white text-black text-uppercase px-5"> Add an address to see delivery times</button>
    </div>

    <div class="form-group col-4 px-5 my-2">
        <div class="input-group border rounded-pill">
            <div class="input-group-prepend border-0 ">
                <button type="submit" class="btn btn-link"><i class="fa fa-search"></i></button>
            </div>
            <input type="text" placeholder="Search.." class="form-control bg-none border-0">
            <button class="input-group-prepend border-0 bg-white text-black mx-3">SEARCH</button>
        </div>
    </div>
    <div class="form-group position-relative my-2">
        <span><i class="fa-solid fa-cart-shopping fa-lg position-absolute p-sm-3"></i></span>
        <button class="btn btn-outline-secondary bg-white text-black text-uppercase px-5">Basket - 3</button>
        <button class="btn btn-outline-secondary bg-white text-black mx-2" (click)="onSignup()">SIGN UP</button>
        <button class="btn btn-outline bg-black text-white" (click)="onSignin()">SIGN IN</button>
    </div>
</div>