<app-header></app-header>
<mat-divider></mat-divider>

<div class="container-fluid my-3">
    <div class="row">
        <div class="col" style="width: 80px; height: auto;">
            <div class="border border-secondary rounded-circle">
                <img src="../../assets/images/beauty.jpg" alt="" class="img-fluid rounded-circle"> 
            </div>
            <p class="px-5">BEAUTY</p>
        </div>
        <div class="col" style="width: 80px; height: auto;">
            <div class="border border-secondary rounded-circle">
                <img src="../../assets/images/clothing.jpg" alt="" class="img-fluid rounded-circle"> 
            </div>
            <p class="px-5">CLOTHING</p>
        </div>
        <div class="col" style="width: 80px; height: 80px;">
            <div class="border border-secondary rounded-circle">
                <img src="../../assets/images/shoes.jpg" alt="" class="img-fluid rounded-circle">
            </div>
            <p class="px-5">SHOES</p>
        </div>
        <div class="col" style="width: 80px; height: 120px;">
            <div class="border border-secondary rounded-circle">
                <img src="../../assets/images/technology.jpg" alt="" class="img-fluid rounded-circle">
                
            </div>
            <p class="px-4">TECHNOLOGY</p>
        </div>
        <div class="col" style="width: 80px; height: 80px;">
            <div class="border border-secondary rounded-circle">
                <img src="../../assets/images/beauty.jpg" alt="" class="img-fluid rounded-circle">
            </div>
        </div>
        <div class="col" style="width: 80px; height: 80px;">
            <div class="border border-secondary rounded-circle">
                <img src="../../assets/images/beauty.jpg" alt="" class="img-thumbnail" width = "200" height = "200">
            </div>
        </div>
        <div class="col" style="width: 80px; height: 80px;">
            <div class="border border-secondary rounded-circle">
                <img src="../../assets/images/beauty.jpg" alt="" class="img-thumbnail" width = "200" height = "200">
            </div>
        </div>
        <div class="col" style="width: 80px; height: 80px;">
            <div class="border border-secondary rounded-circle">
                <img src="../../assets/images/beauty.jpg" alt="" class="img-thumbnail" width = "200" height = "200">
            </div>
        </div>
        <div class="col">
            <div class="border border-secondary rounded-circle">
                <img src="../../assets/images/beauty.jpg" alt="" class="img-thumbnail" width = "200" height = "200">
            </div>
        </div>
        <div class="col">
            <div class="border border-secondary rounded-circle">
                <img src="../../assets/images/beauty.jpg" alt="" class="img-thumbnail" width = "200" height = "200">
            </div>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<div class="container-fluid my-3">
    <div class="row text-center">
        <div class="col">
            <div>
                <img src="../../assets/images/beauty.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="col">
            <div>
                <img src="../../assets/images/beauty.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="col">
            <div>
                <img src="../../assets/images/beauty.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<mat-divider></mat-divider>
<div class="container-fluid my-1">
    <div class="row">
        <div class="col-8">
            <div class="d-flex flex-row pt-2">
                <h5>BEAUTY</h5>
            </div>
        </div>
        <div class="col">
            <div class="d-flex flex-row-reverse">
                <button class="btn btn-outline-secondary bg-white text-black text-uppercase px-3">shop now</button>
            </div>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<div class="container-fluid my-3">
    <div class="row text-center">
        <div class="col">
            <div class="border border-secondary rounded">
                <p>Lorem ipsum dolor sit, amet n publishing</p>
            </div>
        </div>
        <div class="col">
            <div class="border border-secondary rounded">
                <p>Lorem ipsum dolor sit, amet n publishing</p>
            </div>
        </div>
        <div class="col">
            <div class="border border-secondary rounded">
                <p>Lorem ipsum dolor sit, amet n publishing</p>
            </div>
        </div>
        <div class="col">
            <div class="border border-secondary rounded">
                <p>Lorem ipsum dolor sit, amet n publishing</p>
            </div>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<div class="container-fluid my-1">
    <div class="row">
        <div class="col-8">
            <div class="d-flex flex-row pt-2">
                <h5>CLOTHING</h5>
            </div>
        </div>
        <div class="col">
            <div class="d-flex flex-row-reverse">
                <button class="btn btn-outline-secondary bg-white text-black text-uppercase px-3">shop now</button>
            </div>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<div class="container-fluid my-3">
    <div class="row text-center">
        <div class="col">
            <div class="border border-secondary rounded">
                <p>Lorem ipsum dolor sit, amet n publishing</p>
            </div>
        </div>
        <div class="col">
            <div class="border border-secondary rounded">
                <p>Lorem ipsum dolor sit, amet n publishing</p>
            </div>
        </div>
        <div class="col">
            <div class="border border-secondary rounded">
                <p>Lorem ipsum dolor sit, amet n publishing</p>
            </div>
        </div>
        <div class="col">
            <div class="border border-secondary rounded">
                <p>Lorem ipsum dolor sit, amet n publishing</p>
            </div>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<div class="container-fluid my-3">
    <div class="row pb-4">
        <div class="col">
            <p class="text-uppercase" >Company</p>
            <li>About us</li>
            <li>FAQs</li>
            <li>Careers</li>
            <li>Haul near you</li>
        </div>
        <div class="col">
            <p class="text-uppercase" >Help & Support</p>
            <li>Contact us</li>
        </div>
        <div class="col-8">
            <div class="d-flex flex-row-reverse">
                <p>Lorem ipsum dolor sit, amet n publishing</p>
            </div>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<div class="container-fluid my-3">
    <div class="row">
        <div class="col ">
            <div class="d-flex">
                <div class="text-black">
                    <p>Haul 2023</p>
                </div>
                <div class="text-black px-3">
                    <p>Privacy Policy</p>
                </div>
                <div class="text-black px-3">
                    <p>Terms and Conditions</p>
                </div>
            </div>
        </div>
        
        <div class="col-7">
            <div class="d-flex flex-row-reverse">
                <i class="fa-brands fa-instagram fa-lg px-1"></i>
                <i class="fa-brands fa-facebook fa-lg px-1"></i>
                <i class="fa-brands fa-twitter fa-lg px-1"></i>
                <i class="fa-brands fa-youtube fa-lg px-1"></i>
                <i class="fa-brands fa-linkedin fa-lg px-1"></i>
            </div>
        </div>
    </div>
</div>