/* .container{
    width: auto;
    margin-top: 50px;
    border: 1px solid #ccc;
}
.form{
    padding: 7px 5px;
}
input {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    font-size: 16px;
}
.btn{
    text-transform: uppercase;
    width: 100%;
    padding: 7px;
    background-color: #000;
    text-align: center;
    color: #fff;
}
.social-links .btn{
    text-transform: uppercase;
    width: 100%;
    margin: 7px 0px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #000;
    text-align: center;
    color: #000;
}
.social-links .btn span{
    text-transform: uppercase;
    width: 100%;
    margin-right: 7px;
    text-align: center;
    color: #560ffa;
}

.bfield{
    padding-top: 9px;
    align-items: center;
    text-align: center;
}
.link {
    color: #000;
    font-size: 13pt;
  } */


  .card-panel {
    
    border: 1px solid #ccc;
    margin: 0.5rem 0 1rem;
    border-radius: 2px;
    background-color: #fff;
  }
  
  /* Font Awesome Icons */
  
  .form-group a i {
    margin: 0 auto;
    font-size: 5rem;
    font-style: normal;
  }
  
  /* .min-container .card-panel form .fa {
    top: 13px;
    right: 9rem;
  } */
  
  .link {
    color: #000;
    font-size: 13pt;
    text-decoration: none;
  } 
  /* Media Queries */
  
  @media (min-width: 768px) {
    .min-container {
      max-width: 650px;
    }
  }
  
  .min-container {
    margin: 0 auto;
  }