<app-navbar></app-navbar>
<div class="container min-container py-md-2 mt-1">
    <div class="card-panel p-sm-3 position-relative">
        <div class="text-center">
            <form id="loginForm" class="mt-2">
                <div class="form-group position-relative">
                    <input class="form-control input-lg" type="email" placeholder="Email" required>
                </div>
                <div class="form-group position-relative my-2">
                    <input class="form-control input-lg" type="text" placeholder="Password" required>
                </div>
                <div class="form-group position-relative my-2">
                    <button class="form-control bg-black text-white" (click)="onSignin()">Sign In</button>
                </div>

                <mat-divider></mat-divider>
                <div class="form-group position-relative my-2">
                    <button class="form-control bg-white text-black text-uppercase" (click)="onSignin()"> <span><i
                                class="fa-brands fa-facebook fa-2x px-1"></i></span>Continue with facebook</button>
                </div>
                <div class="form-group position-relative my-2">
                    <button class="form-control bg-white text-black text-uppercase" (click)="onSignin()"> <span><i
                                class="fa-brands fa-google fa-2x px-1"></i></span>Continue with Google</button>
                </div>
                <div class="form-group position-relative my-2">
                    <button class="form-control bg-white text-black text-uppercase" (click)="onSignin()"> <span><i
                                class="fa-brands fa-apple fa-2x px-1 text-black"></i></span>Continue with Apple</button>

                </div>

                <mat-divider></mat-divider>
                <div class="text-center my-2">
                    <p>Don't Have an Account? <a href="" class="link text-uppercase">Sign Up</a></p>

                </div>
                <mat-divider></mat-divider>
                <div class="text-center my-2">
                    <p>By Logining into an Account, you agree to our Terms of Service and acknowledge our Privacy
                        Notice.
                    </p>
                </div>

            </form>
        </div>

    </div>

</div>