<app-navbar></app-navbar>
<div class="container">
    <div class="form">
        <div class="name">
            <input type="text" placeholder="First Name">
        </div>
        <div class="name">
            <input type="text" placeholder="Last Name">
        </div>
        <div class="name">
            <input type="text" placeholder="Email">
        </div>
        <div class="name">
            <input type="text" placeholder="Password">
        </div>
        <div class="btn">
            <button class="btn btn-primary">Sign up</button>
        </div>

    </div>
</div>